<h1 class="title">RailsBridgeCorp Open Jobs</h1>
<% @jobs.each do |job| %>
<div class="single, item">
  <h3><%= link_to job.title, job_path(job)%></h3>
  <p><%= job.description %></p>
</div>
<% end %>
